<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h1>Create Product</h1>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <%= form_for Product.new ,url: products_path do |f| %>
        <div class="form-group">
          <%= f.label :product_name %>
          <%= f.text_field :product_name, placeholder: "Enter product name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :quantity %>
          <%= f.text_field :quantity, placeholder: "Enter the number of products", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :unit_price %>
          <%= f.text_field :unit_price, placeholder: "Enter unit price", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :discountinued %>
          <%= f.text_field :discontinued, placeholder: "Enter discountinued", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :desc %>
          <%= f.text_field :desc, placeholder: "Enter description", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :category %>
          <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => 'Select one!' %>
        </div>

        <div class="text-center">
          <%= f.submit "Create Product", class: "btn btn-info col-lg-12" %>
        </div>
      <% end %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Back', categories_path, class: 'btn btn-link pull-right' %>
    </div>
  </div>
