<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <center><h2><%= @product.product_name %></h2></center>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td rowspan="2"><strong>Aggregate Rating:</strong></td>
                <td>
                  <% @product.aggregate_rating.to_i.times do %>
                    <span class="star">★</span>
                  <% end %>
                  <% (5 - @product.aggregate_rating.to_i).times do %>
                    <span class="out-of">★</span>
                  <% end %>&ensp;
                  <strong>
                    <% if @product.reviews.count == 0 %>
                      0/5
                    <% else %>
                      <%= @product.aggregate_rating %> / 5
                    <% end %>
                  </strong>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fas fa-user"></i>&ensp;
                  <em><%= "#{@product.reviews.count} reviews" %></em>
                </td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @product.desc %></td>
              </tr>
              <tr>
                <td><strong>Unit Price:</strong></td>
                <td>$<%= @product.unit_price %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Return to products", products_path %>
          <%= link_to "All review", product_reviews_path(@product) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <% if user_signed_in? %>
          <%= render 'reviews/form', review: @review %>
        <% end %>
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <p>
                <strong><%= review.user.email %></strong>
                <% review.rating.times do %>
                  <span class="star">★</span>
                <% end %>
                <% (5 - review.rating).times do %>
                  <span class="out-of">★</span>
                <% end %>
              </p>
              <p>
                <a href="<%= product_review_path(@product, review) %>">
                  <%= truncate(review.content, :length => 30) %>
                </a>
              </p>
              <em><%= time_ago_in_words(review.created_at) %> ago</em>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
