<h3>Review for <%= @product.product_name %></h3>
<div class="reviews">
  <p>
    <strong><%= @review.user.email %></strong>
    <% @review.rating.times do %>
      <span class="star">★</span>
    <% end %>
    <% (5 - @review.rating).times do %>
      <span class="out-of">★</span>
    <% end %>
  </p>
  <p><%= @review.content %></p>
  <em><%= time_ago_in_words(@review.created_at) %> ago</em>
  <h3>Comment</h3>
  <% if @review.comments.count > 0 %>
    <% @review.comments.each do |comment| %>
      <p><%= comment.body %></p>
      <em><%= time_ago_in_words(comment.created_at) %> ago</em>
    <% end %>
  <% end %>
</div>
<%= link_to "Return to product", product_path(@product) %>
